body{
    margin: 0;
    background-image: url(images/main-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

#title{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

div.intro{
    color: white;
}

