body
{
    margin: 0;
    background-image: url("images/main-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.welcome{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
}



